h2 {
    margin: 0;
    padding: 39px 0 0 0;
}
.main_text_1 {
    color: #14475F;
    font-size: 20px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
}
.main_text_2 {
    color: #414042;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}
.main_text_2 p {
    padding: 10px 0;
}
.main_text_3 {
    color: #414042;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    padding-bottom: 5px ;
}
.main_text_3 p {
    padding: 33px 0 0 0;
}